

<div class="panel panel-primary">
    <div class="panel-heading">
				<h4>Perdia - VCT - {{vrtStr}} - Vehicle Line</h4>
    </div>
    <div class="panel-body">

        <div class="row clearfix">
            <div class="col-md-3 column">
                <div class="panel panel-success" >
                   <div class="panel-heading">
                      <h3 class="panel-title">
                        {{vrtStr}} - S60
                      </h3>
                    </div>
                    <div class="panel-body" >
                        <button type="button" class="btn btn-primary btn-xs" ng-click="viewBreakdown1()">Breakdown</button>
                        <div id="div1" style="width: 100%; height: 240px;"></div>
                    </div>
               </div>
            </div>
            <div class="col-md-3 column">
                <div class="panel panel-success">
                   <div class="panel-heading">
                      <h3 class="panel-title">
                        {{vrtStr}} - S80
                      </h3>
                    </div>
                    <div class="panel-body" >
                        <button type="button" class="btn btn-primary btn-xs" ng-click="viewBreakdown2()">Breakdown</button>
                        <div id="div2" style="width: 100%; height: 240px;"></div>
                    </div>
               </div>
            </div>
            <div class="col-md-3 column">
                <div class="panel panel-success">
                   <div class="panel-heading">
                      <h3 class="panel-title">
                        {{vrtStr}} - V60
                      </h3>
                    </div>
                    <div class="panel-body" >
                         <button type="button" class="btn btn-primary btn-xs" ng-click="viewBreakdown3()">Breakdown</button>
                       <div id="div3" style="width: 100%; height: 240px;"></div>
                    </div>
               </div>
            </div>
            <div class="col-md-3 column">
                <div class="panel panel-success">
                   <div class="panel-heading">
                      <h3 class="panel-title">
                        {{vrtStr}} - V60CC
                      </h3>
                    </div>
                    <div class="panel-body" >
                         <button type="button" class="btn btn-primary btn-xs" ng-click="viewBreakdown4()">Breakdown</button>
                       <div id="div4" style="width: 100%; height: 240px;"></div>
                    </div>
               </div>
            </div>
            <div class="col-md-3 column">
                <div class="panel panel-success">
                   <div class="panel-heading">
                      <h3 class="panel-title">
                        {{vrtStr}} - V70
                      </h3>
                    </div>
                    <div class="panel-body" >
                         <button type="button" class="btn btn-primary btn-xs" ng-click="viewBreakdown5()">Breakdown</button>
                       <div id="div5" style="width: 100%; height: 240px;"></div>
                    </div>
               </div>
            </div>
            <div class="col-md-3 column">
                <div class="panel panel-success">
                   <div class="panel-heading">
                      <h3 class="panel-title">
                        {{vrtStr}} - XC70
                      </h3>
                    </div>
                    <div class="panel-body" >
                         <button type="button" class="btn btn-primary btn-xs" ng-click="viewBreakdown6()">Breakdown</button>
                       <div id="div6" style="width: 100%; height: 240px;"></div>
                    </div>
               </div>
            </div>
            <div class="col-md-3 column">
                <div class="panel panel-success">
                   <div class="panel-heading">
                      <h3 class="panel-title">
                        {{vrtStr}} - XC90
                      </h3>
                    </div>
                    <div class="panel-body" >
                         <button type="button" class="btn btn-primary btn-xs" ng-click="viewBreakdown7()">Breakdown</button>
                       <div id="div7" style="width: 100%; height: 240px;"></div>
                    </div>
               </div>
            </div>
        </div>
      </div>
    </div>
</div>