

<div class="panel panel-primary">
    <div class="panel-heading">
				<h4>Perdia - VCT - {{modelStr}} - VRT</h4>
    </div>
    <div class="panel-body">
            <div class="col-md-3 column">
                <div class="panel panel-success">
                   <div class="panel-heading">
                      <h3 class="panel-title">
                        {{modelStr}} - F02
                      </h3>
                    </div>
                    <div class="panel-body" >
                        <button type="button" class="btn btn-primary btn-xs" ng-click="viewBreakdown1()">Breakdown</button>
                        <div id="div8" style="width: 100%; height: 240px;"></div>
                    </div>
               </div>
            </div>
            <div class="col-md-3 column">
                <div class="panel panel-success">
                   <div class="panel-heading">
                      <h3 class="panel-title">
                        {{modelStr}} - F03
                      </h3>
                    </div>
                    <div class="panel-body" >
                         <button type="button" class="btn btn-primary btn-xs" ng-click="viewBreakdown2()">Breakdown</button>
                       <div id="div9" style="width: 100%; height: 240px;"></div>
                    </div>
               </div>
            </div>
            <div class="col-md-3 column">
                <div class="panel panel-success">
                   <div class="panel-heading">
                      <h3 class="panel-title">
                        {{modelStr}} - F04
                      </h3>
                    </div>
                    <div class="panel-body" >
                        <button type="button" class="btn btn-primary btn-xs" ng-click="viewBreakdown3()">Breakdown</button>
                        <div id="div10" style="width: 100%; height: 240px;"></div>
                    </div>
               </div>
            </div>
            <div class="col-md-3 column">
                <div class="panel panel-success">
                   <div class="panel-heading">
                      <h3 class="panel-title">
                        {{modelStr}} - F05
                      </h3>
                    </div>
                    <div class="panel-body" >
                         <button type="button" class="btn btn-primary btn-xs" ng-click="viewBreakdown4()">Breakdown</button>
                       <div id="div11" style="width: 100%; height: 240px;"></div>
                    </div>
               </div>
            </div>
            <div class="col-md-3 column">
                <div class="panel panel-success">
                   <div class="panel-heading">
                      <h3 class="panel-title">
                        {{modelStr}} - F06
                      </h3>
                    </div>
                    <div class="panel-body" >
                         <button type="button" class="btn btn-primary btn-xs" ng-click="viewBreakdown5()">Breakdown</button>
                       <div id="div12" style="width: 100%; height: 240px;"></div>
                    </div>
               </div>
            </div>
            <div class="col-md-3 column">
                <div class="panel panel-success">
                   <div class="panel-heading">
                      <h3 class="panel-title">
                        {{modelStr}} - F07
                      </h3>
                    </div>
                    <div class="panel-body" >
                         <button type="button" class="btn btn-primary btn-xs" ng-click="viewBreakdown6()">Breakdown</button>
                       <div id="div13" style="width: 100%; height: 240px;"></div>
                    </div>
               </div>
            </div>
            <div class="col-md-3 column">
                <div class="panel panel-success">
                   <div class="panel-heading">
                      <h3 class="panel-title">
                        {{modelStr}} - F08
                      </h3>
                    </div>
                    <div class="panel-body" >
                        <button type="button" class="btn btn-primary btn-xs" ng-click="viewBreakdown7()">Breakdown</button>
                        <div id="div14" style="width: 100%; height: 240px;"></div>
                    </div>
               </div>
            </div>
        </div>
      </div>
    </div>
</div>