
<div class="panel panel-primary">
    <div class="panel-heading">
				<h4>Historic - VCT - {{modelStr}}</h4>
    </div>
    <div class="panel-body">

            <div class="col-md-3 column">
                <div class="panel panel-success">
                   <div class="panel-heading">
                      <h3 class="panel-title">
                        F02
                      </h3>
                    </div>
                    <div class="panel-body" >
 
                        <button type="button" class="btn btn-primary btn-xs" ng-click="viewToplist('F02')"><i class="fa fa-sort-amount-desc"></i> Toplist</button>
                        <div id="div1" style="width: 100%; height: 240px;"></div>
                    </div>
               </div>
            </div>
            <div class="col-md-3 column">
                <div class="panel panel-success">
                   <div class="panel-heading">
                      <h3 class="panel-title">
                        F03
                      </h3>
                    </div>
                    <div class="panel-body" >
                        <button type="button" class="btn btn-primary btn-xs" ng-click="viewToplist('F03')"><i class="fa fa-sort-amount-desc"></i> Toplist</button>
                       <div id="div2" style="width: 100%; height: 240px;"></div>
                    </div>
               </div>
            </div>
            <div class="col-md-3 column">
                <div class="panel panel-success">
                   <div class="panel-heading">
                      <h3 class="panel-title">
                        F04
                      </h3>
                    </div>
                    <div class="panel-body" >
                        <button type="button" class="btn btn-primary btn-xs" ng-click="viewToplist('F04')"><i class="fa fa-sort-amount-desc"></i> Toplist</button>
                        <div id="div3" style="width: 100%; height: 240px;"></div>
                    </div>
               </div>
            </div>
            <div class="col-md-3 column">
                <div class="panel panel-success">
                   <div class="panel-heading">
                      <h3 class="panel-title">
                        F05
                      </h3>
                    </div>
                    <div class="panel-body" >
                        <button type="button" class="btn btn-primary btn-xs" ng-click="viewToplist('F05')"><i class="fa fa-sort-amount-desc"></i> Toplist</button>
                       <div id="div4" style="width: 100%; height: 240px;"></div>
                    </div>
               </div>
            </div>
            <div class="col-md-3 column">
                <div class="panel panel-success">
                   <div class="panel-heading">
                      <h3 class="panel-title">
                        F06
                      </h3>
                    </div>
                    <div class="panel-body" >
                        <button type="button" class="btn btn-primary btn-xs" ng-click="viewToplist('F06')"><i class="fa fa-sort-amount-desc"></i> Toplist</button>
                       <div id="div5" style="width: 100%; height: 240px;"></div>
                    </div>
               </div>
            </div>
            <div class="col-md-3 column">
                <div class="panel panel-success">
                   <div class="panel-heading">
                      <h3 class="panel-title">
                        F07
                      </h3>
                    </div>
                    <div class="panel-body" >
                        <button type="button" class="btn btn-primary btn-xs" ng-click="viewToplist('F07')"><i class="fa fa-sort-amount-desc"></i> Toplist</button>
                       <div id="div6" style="width: 100%; height: 240px;"></div>
                    </div>
               </div>
            </div>
            <div class="col-md-3 column">
                <div class="panel panel-success">
                   <div class="panel-heading">
                      <h3 class="panel-title">
                        F08
                      </h3>
                    </div>
                    <div class="panel-body" >
                        <button type="button" class="btn btn-primary btn-xs" ng-click="viewToplist('F08')"><i class="fa fa-sort-amount-desc"></i> Toplist</button>
                        <div id="div7" style="width: 100%; height: 240px;"></div>
                    </div>
               </div>
            </div>
        </div>
      </div>
    </div>
</div>

