
<button class="btn" ng-click="model.increaseHeight()">+ höjd</button>
<button class="btn" ng-click="model.decreaseHeight()">- höjd</button>
<button class="btn" ng-click="model.increaseSpace()">+ space</button>
<button class="btn" ng-click="model.decreaseSpace()">- space</button>
<button class="btn" ng-click="model.zoomIn()">+ zoom in</button>
<button class="btn" ng-click="model.zoomOut()">- zoom out</button>
<div class="col-md-12 column">
    <div class="panel panel-primary">
        <div class="panel-heading">                   
            <h3 class="panel-title">
                Relation Analysis - tree
            </h3>          
        </div>
        <!-- <div class="panel-body" style="min-height: 400; max-height: 400; overflow-y: scroll;"> -->
        <!-- <div class="panel-body" style="overflow: scroll;"> -->
        <div class="panel-body" style="overflow: scroll">
            <div id="tree"></div>
        </div>
    </div>
</div>

